absl-py==2.1.0
accelerate==1.0.0
acme==1.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
appdirs==1.4.3
asttokens==3.0.0
async-timeout==5.0.1
attrs==19.3.0
audioread==3.0.1
Automat==0.8.0
awscli==1.18.69
backcall==0.2.0
beautifulsoup4==4.8.2
blinker==1.4
botocore==1.16.19
braceexpand==0.1.7
CacheControl==0.12.6
cached-property==1.5.1
cachetools==5.5.0
certbot==0.40.0
certifi==2024.8.30
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
cloud-init==24.1.3
colorama==0.4.3
comm==0.2.2
command-not-found==0.3
ConfigArgParse==0.13.0
configobj==5.0.6
constantly==15.1.0
contourpy==1.1.1
cryptography==2.8
cssselect==1.1.0
cupshelpers==1.0
cycler==0.12.1
databricks-sdk==0.38.0
dbus-python==1.2.16
debugpy==1.8.11
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.15
Distance==0.1.3
distro==1.4.0
distro-info==0.23+ubuntu1.1
docker==7.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
easyocr==1.7.1
editdistance==0.8.1
einops==0.8.0
entrypoints==0.3
executing==2.1.0
filelock==3.16.0
fonttools==4.53.1
frozenlist==1.5.0
fsspec==2024.9.0
future==0.18.2
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.36.0
google-auth-oauthlib==1.0.0
graphene==3.4.3
graphql-core==3.2.5
graphql-relay==3.2.0
greenlet==3.1.1
grpcio==1.69.0
gunicorn==23.0.0
h11==0.9.0
html5lib==1.0.1
httplib2==0.14.0
huggingface-hub==0.25.2
hyperlink==19.0.0
idna==3.10
imageio==2.35.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
incremental==16.10.1
intervaltree==3.1.0
ipykernel==6.29.5
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jmespath==0.9.4
joblib==1.4.2
josepy==1.2.0
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kaldi-python-io==1.2.2
kaldiio==2.18.0
keyring==18.0.1
kiwisolver==1.4.7
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy_loader==0.4
lightning-utilities==0.11.9
lilcom==1.8.0
linecache2==1.0.0
llvmlite==0.41.1
lockfile==0.12.2
loguru==0.7.3
lxml==4.5.0
macaroonbakery==1.3.1
Mako==1.3.6
Markdown==3.7
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mock==3.0.5
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
nest-asyncio==1.6.0
netifaces==0.10.4
networkx==3.1
ninja==1.11.1.1
nltk==3.9.1
numba==0.58.1
numpy==1.23.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu12==12.1.105
oauthlib==3.1.0
olefile==0.46
onnx==1.17.0
openai-whisper==20240930
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opentelemetry-api==1.28.2
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
packaging==24.1
pandas==2.0.3
parsedatetime==2.4
parso==0.8.4
pathfinding==1.0.16
pbr==5.4.5
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
plac==1.4.3
platformdirs==4.3.6
pooch==1.8.2
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==5.28.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyannote.core==5.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybind11==2.13.6
pycairo==1.16.2
pyclipper==1.3.0.post5
pycparser==2.22
pycups==1.9.73
pydub==0.25.1
pyflowsheet==0.2.2
Pygments==2.19.0
PyGObject==3.36.0
PyHamcrest==1.9.0
PyICU==2.4.2
PyJWT==1.7.1
pyloudnorm==0.1.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.1.4
pyparted==3.11.2
pyRFC3339==1.1
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.1+ubuntu0.20.4.1
python-bidi==0.6.0
python-dateutil==2.9.0.post0
python-debian==0.1.36+ubuntu1.1
pytorch-lightning==2.4.0
pytz==2024.2
PyWavelets==1.4.1
PyYAML==6.0.2
pyzmq==26.2.0
rapidfuzz==3.9.7
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==0.8.0
requests-unixsocket==0.2.0
roman==2.0.0
rsa==4.9
ruamel.yaml==0.18.9
ruamel.yaml.clib==0.2.8
s3transfer==0.3.3
safetensors==0.4.5
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.0
scour==0.37
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==2.3.1
service-identity==18.1.0
shapely==2.0.6
shellingham==1.5.4
simplejson==3.16.0
six==1.16.0
smmap==5.0.1
sortedcontainers==2.4.0
sos==4.5.6
soundfile==0.13.0
soupsieve==1.9.5
sox==1.5.0
soxr==0.3.7
SQLAlchemy==2.0.36
sqlparse==0.5.2
ssh-import-id==5.10
stack-data==0.6.3
supervision==0.25.0
svgwrite==1.4.3
sympy==1.13.2
systemd-python==234
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
testresources==2.0.0
text-unidecode==1.3
texttable==1.6.2
threadpoolctl==3.5.0
tifffile==2023.7.10
tiktoken==0.7.0
timm==1.0.12
tokenizers==0.20.0
toolz==1.0.0
torch==2.4.1
torchmetrics==1.5.2
torchvision==0.19.1
tornado==6.4.2
tqdm==4.66.5
traceback2==1.4.0
traitlets==5.14.3
transformers==4.45.1
triton==3.0.0
Twisted==18.9.0
typeguard==4.4.0
typing_extensions==4.12.2
tzdata==2024.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
ultralytics==8.2.97
ultralytics-thop==2.0.6
unattended-upgrades==0.1
unittest2==1.1.0
urllib3==2.2.3
uvicorn==0.11.3
wadllib==1.3.3
WALinuxAgent==2.2.46
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==0.53.0
websockets==8.1
Werkzeug==3.0.6
wget==3.2
widgetsnbextension==4.0.13
wrapt==1.17.0
wsproto==0.15.0
xkit==0.0.0
yarl==1.15.2
zipp==3.20.2
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.7.1
